{% set toasts = toasts|default([]) %}

{% if toasts is not empty %}
  <div class="fixed bottom-4 right-4 z-50 grid gap-3" aria-live="polite" aria-atomic="true">
    {% for toast in toasts %}
      {% include 'components/toast.twig' with { toast: toast } only %}
    {% endfor %}
  </div>
{% endif %}
