APP_NAME=MarwaPHP
APP_TITLE=MarwaPHP
APP_URL=http://localhost/
APP_KEY=
APP_DEBUG=0
APP_ENV=production
APP_TIMEZONE=Asia/Dhaka
MAINTENANCE=false
DEBUGBAR_ENABLED=0
# DEBUGBAR_COLLECTORS=TimelineCollector,MemoryCollector,PhpCollector,RequestCollector,SessionCollector,LogCollector,ExceptionCollector
MODULES_ENABLED=0

# HTTP
NGINX_PORT=8080

# Optional integrations
# DB_HOST=127.0.0.1
# DB_NAME=marwa
# DB_USER=root
# DB_PASSWORD=
