APP_NAME=MarwaPHP
APP_TITLE=MarwaPHP
APP_URL=http://localhost/
APP_KEY=
APP_DEBUG=false
APP_ENV=production
APP_TIMEZONE=Asia/Dhaka
MAINTENANCE=false

# HTTP
NGINX_PORT=8080

# Database
DB_HOST=mysql
DB_NAME=marwa
DB_USER=marwa
DB_PASSWORD=secret
MYSQL_ROOT_PASSWORD=secret-root

# Redis
REDIS_SERVER=redis
REDIS_PORT=6379
