APP_NAME=MarwaPHP
APP_TITLE=MarwaPHP
APP_URL=http://localhost/
APP_KEY=change-this-app-key
APP_DEBUG=1
APP_ENV=local
TIMEZONE=Asia/Dhaka
MAINTENANCE=false
DEBUGBAR_ENABLED=false
MODULES_ENABLED=1

DB_ENABLED=1
DB_CONNECTION=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_NAME=marwa
DB_DATABASE=marwa
DB_USER=marwa
DB_USERNAME=marwa
DB_PASSWORD=change-this-db-password
MYSQL_ROOT_PASSWORD=change-this-root-password

ADMIN_BOOTSTRAP_EMAIL=admin@marwa.test
ADMIN_BOOTSTRAP_PASSWORD=ExampleAdminPassword123!
FRONTEND_THEME=default
ADMIN_THEME=admin
