{% extends "layout.twig" %}

{% block title %}Frontend Home{% endblock %}

{% block content %}
<section data-theme="{{ _theme_name }}">
    Frontend theme: {{ _theme_name }}
</section>
{% endblock %}
